#include "resources.h"

IDR_LINEAR_LIGHTING_DEFAULT_PROJECTED_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultProjectedFiveMrt_L4_00008002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_PROJECTED_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultProjectedFiveMrt_L3_00008003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultSixMrt_L4_00000002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultSixMrt_L3_00000003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_MODEL_SPACE_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultModelSpaceSixMrt_L4_00000006.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_MODEL_SPACE_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultModelSpaceSixMrt_L3_00000007.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_TEXTURED_EMISSION_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultDefShadowSixMrt_L4_00004002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_TEXTURED_EMISSION_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultDefShadowSixMrt_L3_00004003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapSixMrt_L4_00000102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapSixMrt_L3_00000103.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_MODEL_SPACE_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapModelSpaceSixMrt_L4_00000106.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_MODEL_SPACE_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapModelSpaceSixMrt_L3_00000107.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_PROJECTED_FIVE_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapProjectedFiveMrt_L4_00008102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_PROJECTED_FIVE_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapProjectedFiveMrt_L3_00008103.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_PROJECTED_FIVE_MRT_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapProjectedFiveMrt_L4_00008106.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_TEXTURED_EMISSION_ALPHA_TEST_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/TexturedEmissionAlphaTestSixMrt_L4_00004102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_TEXTURED_EMISSION_ALPHA_TEST_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/TexturedEmissionAlphaTestSixMrt_L3_00004103.LinearLightingCandidate.dxbc"
