#include "resources.h"

IDR_LINEAR_LIGHTING_DEFAULT_PROJECTED_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultProjectedFiveMrt_L4_00008002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_PROJECTED_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultProjectedFiveMrt_L3_00008003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultSixMrt_L4_00000002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultSixMrt_L3_00000003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_MODEL_SPACE_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultModelSpaceSixMrt_L4_00000006.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_MODEL_SPACE_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultModelSpaceSixMrt_L3_00000007.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_TEXTURED_EMISSION_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultDefShadowSixMrt_L4_00004002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_TEXTURED_EMISSION_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultDefShadowSixMrt_L3_00004003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapSixMrt_L4_00000102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapSixMrt_L3_00000103.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_MODEL_SPACE_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapModelSpaceSixMrt_L4_00000106.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_MODEL_SPACE_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapModelSpaceSixMrt_L3_00000107.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_PROJECTED_FIVE_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapProjectedFiveMrt_L4_00008102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_PROJECTED_FIVE_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapProjectedFiveMrt_L3_00008103.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_PROJECTED_FIVE_MRT_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapProjectedFiveMrt_L4_00008106.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_TEXTURED_EMISSION_ALPHA_TEST_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/TexturedEmissionAlphaTestSixMrt_L4_00004102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_TEXTURED_EMISSION_ALPHA_TEST_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/TexturedEmissionAlphaTestSixMrt_L3_00004103.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_MODEL_SPACE_RGB_ONLY_ALPHA_TEST_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapModelSpaceSixMrt_RgbOnlyAlphaTest_54F53016.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_PROJECTED_RGB_ONLY_ALPHA_TEST_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapProjectedFiveMrt_RgbOnlyAlphaTest_5A5E1AD5.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ENVMAP_PROJECTED_VERTEX_COLOR_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/EnvmapProjectedFiveMrt_VertexColorNoEarlyDepth_B4D2FE98.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_PROJECTED_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultProjectedFiveMrt_L4NoEarlyDepth_15E29A6C.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_DEFAULT_PROJECTED_VERTEX_COLOR_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/DefaultProjectedFiveMrt_L3NoEarlyDepth_B80CA12A.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_SIX_MRT_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapSixMrt_L4NoEarlyDepth_00004006.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_SIX_MRT_VERTEX_COLOR_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapSixMrt_L3NoEarlyDepth_00004007.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_ALPHA_TEST_SIX_MRT_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapAlphaTestSixMrt_L4NoEarlyDepth_00004106.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_ALPHA_TEST_SIX_MRT_VERTEX_COLOR_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapAlphaTestSixMrt_L3NoEarlyDepth_00004107.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_BLEND_FIVE_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapBlendFiveMrt_L4_0000C002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_BLEND_FIVE_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapBlendFiveMrt_L3_0000C003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_BLEND_FIVE_MRT_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapBlendFiveMrt_L4NoEarlyDepth_0000C006.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_BLEND_FIVE_MRT_VERTEX_COLOR_NO_EARLY_DEPTH_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapBlendFiveMrt_L3NoEarlyDepth_0000C007.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_ALPHA_TEST_BLEND_FIVE_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapAlphaTestBlendFiveMrt_L4_0000C102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_GLOWMAP_ALPHA_TEST_BLEND_FIVE_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/GlowmapAlphaTestBlendFiveMrt_L3_0000C103.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_INSTANCED_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/InstancedSixMrt_L4_08000002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_INSTANCED_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/InstancedSixMrt_L3_08000003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_MODEL_SPACE_NORMALS_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/ModelSpaceNormalsSixMrt_L4_00002002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_MODEL_SPACE_NORMALS_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/ModelSpaceNormalsSixMrt_L3_00002003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_MODEL_SPACE_NORMALS_ALPHA_TEST_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/ModelSpaceNormalsAlphaTestSixMrt_L4_00002102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_TESSELLATED_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/TessellatedSixMrt_L4_00080002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_TESSELLATED_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/TessellatedSixMrt_L3_00080003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_TESSELLATED_ALPHA_TEST_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/TessellatedAlphaTestSixMrt_L4_00080102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_TESSELLATED_ALPHA_TEST_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/TessellatedAlphaTestSixMrt_L3_00080103.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_TESSELLATED_ALPHA_TEST_RGB_ONLY_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/TessellatedAlphaTestSixMrt_RgbOnlyVertexColor_00080503.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_INSTANCED_LAND_LOD_BLEND_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/InstancedLandLodBlendSixMrt_L4_0A000002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_INSTANCED_LAND_LOD_BLEND_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/InstancedLandLodBlendSixMrt_L3_0A000003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_MODEL_SPACE_NORMALS_SKINNED_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/ModelSpaceNormalsSkinnedSixMrt_L4_00002006.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskSixMrt_L4_01000002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskSixMrt_L3_01000003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_ALPHA_TEST_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskAlphaTestSixMrt_L4_01000102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_ALPHA_TEST_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskAlphaTestSixMrt_L3_01000103.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_ALPHA_TEST_RGB_ONLY_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskAlphaTestSixMrt_RgbOnlyVertexColor_01000503.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_MODEL_SPACE_NORMALS_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskModelSpaceNormalsSixMrt_L4_01002002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_MODEL_SPACE_NORMALS_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskModelSpaceNormalsSixMrt_L3_01002003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_MODEL_SPACE_NORMALS_ALPHA_TEST_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskModelSpaceNormalsAlphaTestSixMrt_L4_01002102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_TESSELLATED_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskTessellatedSixMrt_L4_01080002.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_TESSELLATED_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskTessellatedSixMrt_L3_01080003.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_TESSELLATED_ALPHA_TEST_SIX_MRT_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskTessellatedAlphaTestSixMrt_L4_01080102.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_TESSELLATED_ALPHA_TEST_SIX_MRT_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskTessellatedAlphaTestSixMrt_L3_01080103.LinearLightingCandidate.dxbc"
IDR_LINEAR_LIGHTING_ADDITIONAL_ALPHA_MASK_TESSELLATED_ALPHA_TEST_RGB_ONLY_VERTEX_COLOR_PS RCDATA "../package/Shaders/Community/Reconstruction/AdditionalAlphaMaskTessellatedAlphaTestSixMrt_RgbOnlyVertexColor_01080503.LinearLightingCandidate.dxbc"
